@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&display=swap');

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Bebas Neue', cursive;
    --fonte-poesia: 'Courgette', cursive;
}

html,
body {
    background-color: darkgray;
    font-family: var(--fonte-padrao);
}

header {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.109);
}

header h1 {
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 5em;
}

main {
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    font-family: var(--fonte-poesia);
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.109);
}

section {
    min-width: 370px;
    max-width: 1500px;
    padding: 30px 30px;
    line-height: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.normal>p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.395);
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.39);
    width: 400px;
    display: inline-block;
    text-shadow: 1px 1px 5px black;
}

section#img1 {
    background-image: url(../imagens/background001.jpg);
}

section#img2 {
    background-image: url(../imagens/background002.jpg);
}

section#simples {
    padding-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}